@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css');

body {
  height: 100%;
  width: 100%;
  background: #d8d7d7;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-width: 100vh;
  min-width: -webkit-fill-available;
}    

main {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /* padding-top: 20vh; */
}


.navbar {
  color: white;
  text-align: center;
}


.table {
  max-width: 50vh;
  margin-top: 15px;
}


h1, h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin-top: 40px;
  margin-left: 40px;
}

/* Animación encabezado */
h1, h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: fadeInUp 0.5s ease-in-out; /* Agregar animación fadeInUp de 1 segundo */
}

/* Animación barra de navegación */
.navbar {
  color: white;
  text-align: center;
  animation: slideInDown 0.5s ease-in-out; /* Agregar animación slideInDown de 1 segundo */
}

/* Animación tabla */
.table {
  max-width: 50vh;
  margin-top: 15px;
  animation: scaleIn 0.5s ease-in-out; /* Agregar animación scaleIn de 1 segundo */
}


/* Estilo para el encabezado "ESCRIBANIA GROUP ONE" */
header h1 {
  margin-left: 20px;
}

/* Estilo para la sección "Sistema de Administración y Consultas de Escrituras" */
section {
  margin-left: 20px;
}

/* Estilo para el párrafo "Funciones disponibles" */
section p {
  margin-left: 25px;
}

/* Estilo para la lista no ordenada */
section ul {
  margin-left: 25px;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


/* botón desplegable  */
.custom-dropdown {
  background-color: #a18a41; 
  color: #ffffff; 
  border: 1px solid #0e0d0d; 

}


.btn-round {
  background-color: #a18a41 !important; /* !important para prioridad */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-round:hover {
  background-color: #a18a41 !important; /* !important para prioridad */
}