{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} Base {% endblock %} </title>
  
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />

</head>
<body>

  <nav class="navbar navbar-expand bg-primary fixed-top" data-bs-theme="dark">
    <a class='navbar-brand px-3' up-follow href='/'>Inicio</a>
    <div class="navbar-nav px-2">
      <a class='nav-item nav-link' href="#">Escribanos</a>
      <a class='nav-item nav-link' href="{% url 'listar_actos_juridicos' %}">Actos Juridicos</a>
      <a class='nav-item nav-link' href="#">Cerrar sesion</a>
    </div>
  </nav>

  <main class="mt-5 pt-5">
    {% block content %}
    
    {% endblock %}
  </main>

  <div class="footer mt-auto bg-primary text-white fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0">&copy; 2023 Derechos reservados - Group One</span>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/application.js' %}"></script>

</body>
</html>