{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} Base {% endblock %} </title>
  
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
  <link rel="icon" href="{% static 'imagen/pluma.png' %}" type="image/png">
</head>
<body>

  <nav class="navbar navbar-expand fixed-top" data-bs-theme="dark" style="background-color: #a18a41;">
    <a class='navbar-brand px-3' up-follow href='/'>Inicio</a>
    <div class="navbar-nav px-2">
      <a class='nav-item nav-link' href="{% url 'crear_escribano' %}">Escribanos</a>
      <a class='nav-item nav-link' href="{% url 'listar_actos_juridicos' %}">Actos Juridicos</a>
      <a class='nav-item nav-link' href="#">Cerrar sesion</a>
    </div>
  </nav>

  {% if messages %}
    <ul class="messages mt-5 pt-5">
      {% for message in messages %} 
        <li class="text-success">{{ message }}</li> 
      {% endfor %}
    </ul> 
  {% endif %}

  <main class="mt-5 pt-5">
    {% block content %}
    
    {% endblock %}
  </main>

  <div class="footer mt-auto" style="background-color: #a18a41; color: white; position: fixed; bottom: 0; width: 100%;">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-1 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0">Escribania Group One- &copy; 2023 Derechos reservados</span>
      </div>
    </footer>
  </div>
  
</body>
</html>

  


