{% extends "base.html" %}

{% block title %} Alta de Escribano {% endblock %}

{% block content %}

  <header>
    <h1>Ingresar Nuevo Escribano</h1>
  </header>

  <form method="post" action="{% url 'crear_escribano' %}">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Por favor, corrige los errores.
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

{% endblock %}